* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(5, 0, 14);
    padding: 0px 0;
    background: linear-gradient(to bottom, #68e6ea 20%, #6102fa 100%);
}

.calculator {
    width: 400px;
    margin: 0  auto;
    background-color: rgb(6, 121, 253);
    padding: 20px;
    border-radius: 21px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}



.display{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: black;
    color: white;
    font: normal 4rem serif;
    overflow: hidden;
    border-radius: 5px;
}

.calculator-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.calculator button{
    background-color: rgb(137, 14, 252);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(107, 239, 248);
}

button:hover{
    background-color: #bf75fc;
    color: black;
}

@media (max-width: 952px){
    .calculator{
        display:flexbox;
        margin-top: 2rem;
        position: relative;
    }
}
@media (max-width: 858px){
    .calculator{
        margin-top: 2rem;
        position: relative;
    }
}